.centrar{
    text-align: center;
}
.manita{
    cursor:pointer;
}
.azul{
    color: blue
}
.tamaño20{
    font-size:20px;
   font-family:Courier;
   font-weight:bold;
   font-style:italic;
   line-height:90px;
   letter-spacing:1px;
   text-decoration:underline;
   text-transform:capitalize;
   text-indent:30px;
}
.sombra{

        font-size: 20pt;
        font-family: sans-serif;
        text-shadow: 10px 11px 18px rgba(300, 180, 100, 1),
        -10px -11px 18px red;
        
}

i.material-icons{
    font-size: 100px;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
    box-shadow: 2px 2px;
    
    }
    
    i.material-icons:hover{
    font-size: 100px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid;
    padding: 5px;
    box-shadow: 0px 0px;
    }